
html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper #content-wrapper {
  /*overflow-x: hidden;*/
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

body.fixed-nav #content-wrapper {
  margin-top: 56px;
  padding-left: 90px;
}

body.fixed-nav.sidebar-toggled #content-wrapper {
  padding-left: 0;
}

@media (min-width: 768px) {
  body.fixed-nav #content-wrapper {
    padding-left: 225px;
  }
  body.fixed-nav.sidebar-toggled #content-wrapper {
    padding-left: 90px;
  }
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 25px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 46px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.smaller {
  font-size: 0.7rem;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.navbar-nav .form-inline .input-group {
  width: 100%;
}

.navbar-nav .nav-item.active .nav-link {
  color: #f7f7f7;
}

.navbar-nav .nav-item.dropdown .dropdown-toggle::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
}

.navbar-nav .nav-item.dropdown.show .dropdown-toggle::after {
  content: '\f107';
}

.navbar-nav .nav-item.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

.navbar-nav .nav-item .nav-link:focus {
  outline: none;
}

.navbar-nav .nav-item .nav-link .badge {
  position: absolute;
  margin-left: 0.75rem;
  top: 0.3rem;
  font-weight: 400;
  font-size: 0.5rem;
}

@media (min-width: 768px) {
  .navbar-nav .form-inline .input-group {
    width: auto;
  }
}

.sidebar {
  width: 90px !important;
  min-height: calc(100vh - 56px);
  transition: 0.2s all ease;
  /*background: linear-gradient(rgb(0, 0, 0), rgba(80, 80, 80, 0.8)), url(../images/sidebar.jpg);*/
  background: linear-gradient(-45deg, #008bbd, #29dac8);
}

.sidebar .nav-item:last-child {
  margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
  text-align: center;
  padding: 0.75rem 1rem;
  width: 90px;
  transition: 0.2s all ease;
}

.sidebar .nav-item .nav-link span {
  font-size: 0.65rem;
  display: block;
}

.sidebar .nav-item .dropdown-menu {
  position: absolute !important;
  -webkit-transform: none !important;
  transform: none !important;
  left: calc(90px + 0.5rem) !important;
  margin: 0;
}

.sidebar .nav-item .dropdown-menu.dropup {
  bottom: 0;
  top: auto !important;
}

.sidebar .nav-item.dropdown .dropdown-toggle::after {
  display: none;
}

.sidebar .nav-item .nav-link {
  color: #f7f7f7;
}

.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
  color: #f7f7f7;
}

.sidebar.toggled {
  width: 0 !important;
  overflow: hidden;
}

.sidebar.toggled .nav-item .nav-link{
  margin-left: -50px;
}

@media (min-width: 768px) {
  .sidebar {
    width: 225px !important;
  }
  .sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 225px;
  }
  .sidebar .nav-item .nav-link span {
    font-size: 1rem;
    display: inline;
  }
  .sidebar .nav-item .dropdown-menu {
    position: static !important;
    margin: 0 1rem;
    top: 0;
  }
  .sidebar .nav-item.dropdown .dropdown-toggle::after {
    display: block;
  }
  .sidebar.toggled {
    overflow: visible;
    width: 90px !important;
  }
  .sidebar.toggled .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .sidebar.toggled .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 90px;
  }
  .sidebar.toggled .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
  }
  .sidebar.toggled .nav-item .dropdown-menu {
    position: absolute !important;
    -webkit-transform: none !important;
    transform: none !important;
    left: calc(90px + 0.5rem) !important;
    margin: 0;
  }
  .sidebar.toggled .nav-item .dropdown-menu.dropup {
    bottom: 0;
    top: auto !important;
  }
  .sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
    display: none;
  }
}

.sidebar.fixed-top {
  top: 56px;
  height: calc(100vh - 56px);
  overflow-y: auto;
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -15px;
  right: -3px;
  opacity: 0.4;
  font-size: 3.4rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.card-body-icon-big {
  position: absolute;
  z-index: 0;
  top: -30px;
  right: -10px;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

:root {
  --input-padding-x: 0.75rem;
  --input-padding-y: 0.75rem;
}

.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}

.form-label-group {
  position: relative;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

footer.sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100% - 90px);
  height: 80px;
  background-color: #e9ecef;
}

footer.sticky-footer .copyright {
  line-height: 1;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  footer.sticky-footer {
    width: calc(100% - 225px);
  }
}

body.sidebar-toggled footer.sticky-footer {
  width: 100%;
}

@media (min-width: 768px) {
  body.sidebar-toggled footer.sticky-footer {
    width: calc(100% - 90px);
  }
}

@media (max-width: 768px) {

}

/* ------------------------------------ */

.colorWhite{
  color: white !important;
}

.textCenter{
  text-align: center !important;
}

.fontSize20px{
  font-size: 20px;
}

.fontSize25px{
  font-size: 25px;
}

.fontSize50px{
  font-size: 50px;
}

.fontSize40px{
  font-size: 40px;
}

.height100porciento{
  height: 100% !important;
}

.height98porciento{
  height: 98% !important;
}

.height85porciento{
  height: 85% !important;
}

.height78porciento{
  height: 78% !important;
}

.height40px{
  height: 40px !important;
}

.width100porciento{
  width: 100% !important;
}

.padding0{
  padding: 0 !important;
}

.paddingBottom0{
  padding-bottom: 0px !important;
}

.paddingBottom20{
  padding-bottom: 20px !important;
}

.paddingTop10{
  padding-top: 10px !important;
}

.paddingTop10{
  padding-top: 10px !important;
}

.paddingR7{
  padding-right: 7px !important;
}

.paddingL7{
  padding-left: 7px !important;
}

.paddingR5{
  padding-right: 5px !important;
}

.paddingL5{
  padding-left: 5px !important;
}

.margin0{
  margin: 0px;
}

.marginTop5px{
  margin-top: 5px;
}

.marginTop10px{
  margin-top: 10px;
}

.marginTop15px{
  margin-top: 15px;
}

.marginTop20px{
  margin-top: 20px;
}

.marginBottom0px{
  margin-bottom: 0px;
}

.marginBottom5px{
  margin-bottom: 5px;
}

.marginBottom10px{
  margin-bottom: 10px;
}

.marginLeft5px{
  margin-left: 5px;
}

.marginLeft10px{
  margin-left: 10px;
}

.marginSuperior10px{
  margin-top: 10px;
  margin-bottom: 10px;
}

.backgroundWhite{
  background: white;
}

.backgroundWhiteOscuro{
  background: #E9ECEF;
}

.backgroundWhiteClaro{
  background: #f7f7f7;
}

.backgroundBlue{
  background: #0091DB;
}

.backgroundImage{
  background: linear-gradient(rgb(0, 0, 0), rgba(99, 99, 99, 0.43)), url(../images/sidebar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.colorBlack{
  color: #201f21;
}

.colorWhiteOscuro{
  color: #E9ECEF;
}
  
.colorGray{
  color: #a5a9ad;
}

.colorBlue{
  color: #007bff;
}

.colorYellow{
  color: #ffc107;
}

.aLogo{
  width: 42px; 
  height: 40px; 
  border-radius: 50%; 
  text-align: center; 
  border: 2px solid gray; 
}

.aLogoBig{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #007bff;
  padding: 15px;
  padding-top: 19px;
}

.imgLogo{
  width: 30px; 
  height: 27px; 
  margin-left: 1px; 
  margin-top: 7px;
}

.imgLogoBig{
  width: 50px; 
  height: 40px;
}

.jqx-grid-column-header{
  font-weight: bold !important;
}

.paddingSuperiores5px{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.paddingSuperiores10px{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.paddingLaterales12px{
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.paddingLaterales25px{
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.z-index200{
  z-index: 200;
}

.borderRadius7pt{
  border-radius: 7pt;
}

.nav-tabs li a{
  padding: 5px 10px;  
  font-size: 13px;
}

.inputSmall{
  font-size: 15px;
  padding: 2px 10px;
  height: 31px;
}

.inputSmallSinPad{
  font-size: 15px;
  height: 31px;
}

.labelStyle{
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 600;
}

.fontSize12px{
  font-size: 12px;
}

.fontSize13px{
  font-size: 13px;
}

.fontSize14px{
  font-size: 14px;
}

.fontSize15px{
  font-size: 15px !important;
}

.fontSize16px{
  font-size: 16px;
}

.fontSize18px{
  font-size: 18px;
}

.centerDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

hr.styleHR {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(46, 43, 193), rgba(0, 0, 0, 0));
    margin: 10px 0px 10px 0px;
}

.paddingLaterales10px{
  padding-left: 10px;
  padding-right: 10px;
}

.borderNone{
  border: none;
}

.sombra{
    -webkit-box-shadow: 4px 5px 19px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 5px 19px -6px rgba(0,0,0,0.5);
    box-shadow: 4px 5px 19px -6px rgba(0,0,0,0.5);
}
.sombraSuave{
    -webkit-box-shadow: 4px 5px 19px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 5px 19px -10px rgba(0,0,0,0.5);
    box-shadow: 4px 5px 19px -10px rgba(0,0,0,0.5);
}
.sombraAunMasSuave{
    -webkit-box-shadow: 4px 5px 19px -10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 5px 19px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 5px 19px -10px rgba(0, 0, 0, 0.1);
}
.sombraMasSuave{
    box-shadow: 0.150rem 0.25rem rgba(0,0,0,0.075)!important;
}
.sombraText{
    text-shadow: 3px 2px 2px #f4f4f4, 2px 2px #f9f9f8;
}
.sombraTextSuave{
    text-shadow: 3px 2px 2px #fdfdfd, 2px 2px #ffffff;
}
.displayNone{
  display: none;
}
.displayBlock{
  display: block;
}
.displayFlex{
  display: flex;
}
.btn-circle{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.fontBold{
  font-weight: bold;
}
.fontWeight500{
  font-weight: 500;
}
.fontWeight400{
  font-weight: 400;
}
.inputBorderBottom{
  border: none;
  border-bottom: 3px solid #007bff;
}
.burbujaVehiculoDash{
  width: 100%; 
  padding: 0px 0px 10px 10px; 
  border-radius: 10px; 
  font-size: 15px; 
}
.burbujaVehiculoDash.miniature{
  padding: 0px; 
}
.burbujaVehiculoDash .bur-title{
  width: 100%; 
  padding: 2px 15px 2px 20px; 
  border-radius: 0px 0px 0px 10px;
}
.burbujaVehiculoDash.miniature .bur-title{
  border-radius: 0px;
  text-align: center;
}
.burbujaVehiculoDash.miniature .icon-bus{
  font-size: 40px !important;
}
.burbujaVehiculoDash .bur-btns{
  background: white; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  margin-left: 7px;
  color: #525758 !important;
}
.burbujaVehiculoDash.bur-yellow{
  border: 4px solid #ffea00; 
  background: #fffff6;
}
.burbujaVehiculoDash.bur-yellow .icon-bus{
  color: #ffea00;
}
.burbujaVehiculoDash.bur-yellow .bur-title{
  background: #ffea0075; 
  color: #525758;
}
.burbujaVehiculoDash.bur-green{
  border: 4px solid #72ff72; 
  background: #f6fff6;
}
.burbujaVehiculoDash.bur-green .icon-bus{
  color: #72ff72;
}
.burbujaVehiculoDash.bur-green .bur-title{
  background: #72ff7275; 
  color: #525758;
}
.burbujaVehiculoDash.bur-gray{
  border: 4px solid #bdbdbd; 
  background: #fcfcfc;
}
.burbujaVehiculoDash.bur-gray .icon-bus{
  color: #bdbdbd;
}
.burbujaVehiculoDash.bur-gray .bur-title{
  background: #bdbdbd75; 
  color: #525758;
}
.burbujaVehiculoDash.bur-red{
  border: 4px solid #ff5722; 
  background: #fff6f6a8;
}
.burbujaVehiculoDash.bur-red .icon-bus{
  color: #ff5722;
}
.burbujaVehiculoDash.bur-red .bur-title{
  background: #ff572275; 
  color: #525758;
}


input:focus, select:focus, button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
@keyframes animateWave {
  0% {
    transform: scale(1,0);
  }
  100% {
    transform: scale(1,1);
  }
}
.svgWave {
  display: block;
  transform-origin: bottom;
  animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
#divLogoBig{
  position: absolute; 
  bottom: 50px;
  width: 100%; 
  z-index: 100;
  animation: animateLogoBig 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
@keyframes animateLogoBig {
  0% {bottom: -200px;}
  100% {bottom: 50px;}
}
.hiddenScrollX{
  overflow-x: hidden;
}
.classAnimationBodyLogin{
  position: absolute;
  left: calc((1120px - 100vw)*-1); /* 1120 ES EL TAMAÑO DEL SVG DE OLA */
  animation: animateBodyLogin 3s infinite alternate linear;
}
@keyframes animateBodyLogin {
  0% {
    left: 0px;
    opacity: 1;
  }
  100% {
    left: calc((1120px - 100vw)*-1);
    opacity: 0;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}