<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">

    <title>GTrans United</title>

    <link href="../libs/bootstrap.css" rel="stylesheet">
    <link href="../libs/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">

    <link href="../libs/normalize.css" rel="stylesheet">

  </head>

  <body id="page-top" style="height: 100vh">

    <nav class="navbar navbar-expand backgroundWhiteClaro static-top">

      <a class="navbar-brand mr-1 fontSize18px colorBlack" href="#">GTrans United</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars colorBlack fontSize20px"></i>
      </button>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle colorBlack fontSize20px"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown" style="min-width: 13rem;">
              <div class="">
                <label class="text-center fontSize15px colorGray width100porciento marginBottom5px">Usuario:</label>
                <label id="lblpropietario" class="text-center fontSize13px paddingLaterales12px width100porciento fontBold"></label>
              </div>
              <hr class="marginSuperior10px">
              <a class="dropdown-item text-center" href="#" id="btnCerrarSesion">Cerrar Sesion</a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper" style="height: calc(100% - 56px);">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav toggled sombra" style="position: absolute;">
        <li class="nav-item active">
          <a class="nav-link MenuLink" href="#" data-id="MenuDashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Resumen</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link MenuLink" href="#" data-id="MenuMapa">
            <i class="fas fa-fw fa-globe-americas"></i>
            <span>Mapa Satelital</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link MenuLink" href="#" data-id="MenuExcesosVelocidad">
            <i class="fas fa-fw fa-map-marker-alt"></i>
            <span>Excesos Velocidad</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link MenuLink" href="#" data-id="MenuViajes">
            <i class="fas fa-money-check-alt"></i>
            <span>Recaudo</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link MenuLink" href="#" data-id="MenuNovedades">
            <i class="fas fa-exclamation-triangle"></i>
            <span>Novedades</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link MenuLink" href="#" data-id="MenuGastos">
            <i class="fas fa-percent"></i>
            <span>Gastos</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link MenuLink" href="#" data-id="MenuGraficas">
            <i class="fas fa-chart-bar"></i>
            <span>Graficas</span>
          </a>
        </li>
        <!-- ******************* -->
        <li class="nav-item centerDiv" style="margin-top: auto;">
          <a class="backgroundWhiteOscuro aLogo" href="http://www.lmsoluciones.co/">
            <img src="../images/lm.png" class="imgLogo">
          </a>
        </li>
      </ul>

      <div id="content-wrapper" class="padding0">

        <div class="container-fluid padding0" style="height: 100%">

            <div id="divIframe" style="height: 100%">
             <iframe src="dashboard.html" class="width100porciento height100porciento" frameborder="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" /></iframe>
            </div>

        </div>

      </div>

    </div>

    <script src="../libs/jquery.js"></script>
    <script src="../libs/bootstrap.js"></script>
    <script src="../libs/jquery.easing.js"></script>
    <script src="../libs/sweetalert2.js"></script>
    <script src="../libs/fastclick.js"></script>


    <script src="../js/scripts.js"></script>
    <script src="../js/functionsUtiles.js"></script>
    <script src="../js/views/app.js"></script>

  </body>

</html>
