<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Graficas</title>

    <link href="../libs/bootstrap.css" rel="stylesheet">
    <link href="../libs/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">

</head>

<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="paddingBottom0">

          <div class="container-fluid" style="height: 90vh">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb marginBottom10px">
                <li class="breadcrumb-item">
                    <a href="#" class="MenuLink" data-id="MenuDashboard">Inicio</a>
                </li>
                <li class="breadcrumb-item active">Graficas</li>
            </ol>     
            <br>
            <div class="row padding10px">
                <div class="col-sm-1">
                    <label class="margin_top_minimunSmall">Fechas: </label>  
                </div>
                <div class="col-sm-3">
                    <input type="date" class="form-control input-sm" id="inpFecha1" required>
                </div>
                <div class="col-sm-3">
                    <input type="date" class="form-control input-sm" id="inpFecha2" required>
                </div>
                <div class="col-sm-3">
                    <select class="form-control input-sm" id="inpTipo"> 
                        <option value="ventas">VENTAS</option>
                        <option value="ventasVehiculo">VENTAS POR VEHICULO</option>
                        <option value="gastos">GASTOS</option>
                        <option value="gastosVehiculo">GASTOS POR VEHICULO</option>
                        <option value="combustible">COMBUSTIBLE</option>
                        <option value="combustibleVehiculo">COMB POR VEHICULO</option>
                        <option value="descuentosOtros">DESC. OTROS</option>
                        <option value="descuentosOtrosVehiculo">DESC. OTROS POR VEHICULO</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary width100porciento inputSmall" id="btnCargar"><i class="fas fa-search"></i> Cargar</button>
                </div>
            </div>

            <hr class="backgroundBlue" style="height: 2px; margin: 10px 0;">

            <div class="margin_top_small">
                <div id="contenedorReportes" class="padding10px margin_top_small" style="width: 100%; height:80%;"></div>
            </div>

       </div> 
      </div> 
    </div>   <!-- FIN CONTENIDO PRINCIPAL -->     

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>


    <script src="../libs/jquery.js"></script>
    <script src="../libs/bootstrap.js"></script>
    <script src="../libs/jquery.easing.js"></script>
    <script src="../libs/jqx-all.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=geometry&key=AIzaSyBvrBF3dUzhRUxM4C3Zh_OMAms0-gigDOU"></script>
    <!-- SWEET ALERTS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.2/dist/sweetalert2.all.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>-->

    <script src="../js/scripts.js"></script>
    <script src="../js/functionsUtiles.js"></script>
    <script src="../js/views/app.js"></script>
    <script src="../js/views/graficas.js"></script>    

     
</body>
</html>
