<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">

    <title>Mapa</title>

    <link href="../libs/bootstrap.css" rel="stylesheet">
    <link href="../libs/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">

    <link href="https://jqwidgets.com/public/jqwidgets/styles/jqx.base.css" rel="stylesheet">
    <link href="https://jqwidgets.com/public/jqwidgets/styles/jqx.material.css" rel="stylesheet">

    <style type="text/css">

      .labelMarker{
          background: white;
          color: black;
          text-align: center;
          border: 1px solid black;
          padding: 1px 8px;
          font-weight: 500;
          font-size: 12px;
          border-radius: 3pt;
      }

      #btnFloatVehiculo{
          position: absolute; 
          top: 15px; 
          left: 10px; 
          z-index: 100;
          display: flex;
      }

      #btnFloatVehiculo input{
          color: black; 
          font-size: 15px; 
          width: 110px;
      }

      #btnFloatVehiculo button{
          padding: 6px;
          margin-left: 10px;
      }

      #btnsFlotantes{
          position: absolute;
          top: 60px;
          left: 10px;  
          width: 44px;
      }

      #btnsFlotantes button{
          margin-top: 7px;
          padding-top: 7px;
      }

      #btnsFlotantesRecorridos{
          position: absolute;
          bottom: 43px;
          left: 11px;  
      }

    </style>

  </head>

  <body id="page-top">

    <div id="btnFloatVehiculo">
        <input id="inpVehiculo" type="text" class="form-control input-sm borderRadius7pt" placeholder="Vehiculo"/> 
        <button id="btnBusqueda" type="button" class='btn-floating btn btn-default btn-sm paddingLaterales12px backgroundBlue borderRadius7pt colorWhite'>Buscar</button>
    </div>

    <div id="googleMap" style="width:100%;height:100vh;"></div>

    <div id="btnsFlotantes">
        <button id="btnRefrecar" title="Refrescar Vehiculos" class="btn btn-circle btn-dark borderNone"><i class="fas fa-sync-alt fontSize15px colorWhite"></i></button>
        <button id="btnRecorrido" title="Recorridos" class="btn btn-circle btn-dark borderNone"><i class="fas fa-history fontSize15px colorWhite"></i></button>
    </div>

    <div id="btnsFlotantesRecorridos" class="displayNone">
        <button id="btnFirst" title="Inicio" class="btn btn-dark borderNone"><i class="fa fa-step-backward fontSize13px"></i></button>
        <button id="btnBack" title="Retroceder" class="btn btn-dark borderNone"><i class="fa fa-backward fontSize13px"></i></button>
        <button id="btnPause" title="Iniciar/Pausar" class="btn btn-circle btn-dark borderNone"><i class="fa fa-play fontSize16px"></i></button>
        <button id="btnNext" title="Adelantar" class="btn btn-dark borderNone"><i class="fa fa-forward fontSize13px"></i></button>
        <button id="btnLast" title="Fin" class="btn btn-dark borderNone"><i class="fa fa-step-forward fontSize13px"></i></button>
    </div>

    <!--  ----------------------------------- -->

    <!-- MODAL DETALLE -->
    <div class="modal" tabindex="-1" role="dialog" id="modalDetalle">
      <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title width100porciento textCenter">Detalles del vehiculo <span id="spanVehiculo"></span></h5>
            </div>
            <div class="modal-body" style="padding-top: 7px;">

              <input type="hidden" id="inpVehiculoHidden" name="inpVehiculoHidden">

              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#tabDatosGeneral" role="tab" aria-controls="tabDatosGeneral" aria-selected="true">Datos Generales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tabConsolidado" role="tab" aria-controls="tabConsolidado" aria-selected="false">Consolidado</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tabDetalle" role="tab" aria-controls="tabDetalle" aria-selected="false">Detalle</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="tabDatosGeneral">
                  <div class="container">
                    <div class="row marginTop10px">
                        <div class="col-9">
                            <label class="labelStyle">Conductor:</label>
                            <input type="text" name="inpConductor" id="inpConductor" class="form-control input-sm inputSmall inpDatosVehiculo" readonly>
                        </div>
                        <div class="col-3">
                            <label class="labelStyle">Turno:</label>
                            <input type="text" name="inpTurno" id="inpTurno" class="form-control input-sm inputSmall inpDatosVehiculo" readonly>
                        </div>
                    </div>
                    <div class="row marginTop5px">
                        <div class="col-12">
                            <label class="labelStyle">Ruta:</label>
                            <input type="text" name="inpRuta" id="inpRuta" class="form-control input-sm inputSmall inpDatosVehiculo" readonly>
                        </div>
                        <div class="col-7">
                            <label class="labelStyle">Ultimo Dato:</label>
                            <input type="text" name="inpUltimoDato" id="inpUltimoDato" class="form-control input-sm inputSmall inpDatosVehiculoTracking" readonly>
                        </div>
                        <div class="col-5">
                            <label class="labelStyle">Velocidad:</label>
                            <div class="input-group">
                              <input type="text" name="inpVelocidad" id="inpVelocidad" class="form-control input-sm inputSmall inpDatosVehiculoTracking" readonly>
                              <div class="input-group-append inputSmallSinPad">
                                <span class="input-group-text backgroundWhite fontSize13px">Km/H</span>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="row marginTop5px">
                        <div class="col-12">
                            <label class="labelStyle">Direccion:</label>
                            <input type="text" name="inpDireccion" id="inpDireccion" class="form-control input-sm inputSmall inpDatosVehiculoTracking" readonly>
                        </div>
                    </div>
                    <div class="row marginTop5px">
                        <div class="col-6">
                            <label class="labelStyle">Hora Despacho:</label>
                            <input type="text" name="inpHoraDespacho" id="inpHoraDespacho" class="form-control input-sm inputSmall inpDatosVehiculo" readonly>
                        </div>
                        <div class="col-6">
                            <label class="labelStyle">Estado Viaje:</label>
                            <input type="text" name="inpEstado" id="inpEstado" class="form-control input-sm inputSmall inpDatosVehiculo" readonly>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tabConsolidado">

                  <div class="row marginTop10px">
                      <div class="col-7">
                          <input type="date" name="inpFechaConsolidado" id="inpFechaConsolidado" class="form-control input-sm inputSmall">
                      </div>
                      <div class="col-5">
                          <button type="button" id="btnCargarConsolidado" class="btn btn-primary inputSmall width100porciento">Cargar</button>
                      </div>
                  </div>

                  <div class="container">
                    <div class="row marginTop10px">
                        <div class="col-4 textCenter centerDiv" style="background: #007BFF; color: white">
                            <label class="labelStyle">TOTALES</label>
                        </div>
                        <div class="col-4 textCenter centerDiv" style="border-bottom: 2px solid #007BFF;">
                            <label id="lblTotTimConsolidado" class="labelStyle">Timbs: -</label>
                        </div>
                        <div class="col-4 textCenter centerDiv" style="border-bottom: 2px solid #007BFF;">
                            <label id="lblTotBloqConsolidado" class="labelStyle">Bloqs: -</label>
                        </div>
                    </div>                  
                  </div>

                  <div class="table-responsive height78porciento marginTop10px">
                      <div id="gridConsolidados"></div> 
                  </div>

                </div>
                <div class="tab-pane fade" id="tabDetalle">
                    <div class="row marginTop10px">
                        <div class="col-7">
                            <input type="date" name="inpFechaDetalle" id="inpFechaDetalle" class="form-control input-sm inputSmall">
                        </div>
                        <div class="col-5">
                            <button type="button" id="btnCargarDetalle" class="btn btn-primary inputSmall width100porciento">Cargar</button>
                        </div>
                    </div>

                    <div class="container">
                      <div class="row marginTop10px">
                          <div class="col-3 textCenter centerDiv" style="background: #007BFF; color: white">
                              <label class="labelStyle">TOTALES</label>
                          </div>
                          <div class="col-3 textCenter centerDiv" style="border-bottom: 2px solid #007BFF;">
                              <label id="lblTotSubDetalle" class="labelStyle">Sub.: -</label>
                          </div>
                          <div class="col-3 textCenter centerDiv" style="border-bottom: 2px solid #007BFF;">
                              <label id="lblTotBajDetalle" class="labelStyle">Baj.: -</label>
                          </div>
                          <div class="col-3 textCenter centerDiv" style="border-bottom: 2px solid #007BFF;">
                              <label id="lblTotBloqDetalle" class="labelStyle">Bloq: -</label>
                          </div>
                      </div>                  
                    </div>

                    <div class="table-responsive height78porciento marginTop10px">
                        <div id="gridDetalle"></div> 
                    </div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
      </div>
    </div>

    <!--  ----------------------------------- -->

    <!-- MODAL RECORRIDO -->
    <div class="modal" id="modalRecorrido" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title width100porciento textCenter">Generador de Recorridos</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-5"> 
                            <label class="labelStyle">Vehiculo:</label>
                            <select class="form-control input-sm inputSmall text-center" id="inpVehiculoRecorrido">
                            </select>
                        </div>
                        <div class="col-7"> 
                            <label class="labelStyle">Fecha:</label>
                            <input type="date" id="inpFechaRecorrido" class="form-control input-sm inputSmall">
                        </div>
                    </div>
                    <div class="row marginTop10px">
                        <div class="col-6"> 
                            <label class="labelStyle">Hora Inicial:</label>
                            <input type="time" id="inpHoraInicialRecorrido" class="form-control input-sm inputSmall">
                        </div>
                        <div class="col-6">
                            <label class="labelStyle">Hora Final:</label>
                            <input type="time" id="inpHoraFinalRecorrido" class="form-control input-sm inputSmall">
                        </div>
                    </div>
                    <div class="row marginTop15px">
                        <div class="col-4"> 
                            <label class="labelStyle fontSize13px"><input type="checkbox" id="verPasajeros"> Pasajeros</label>
                        </div>
                        <div class="col-8 displayFlex"> 
                            <label class="labelStyle fontSize13px" style="padding-top: 3px"><input type="checkbox" id="verExcesosVelocidad"> Exc. Velo. </label> 
                            <div class="input-group" style="width: auto; margin-left: 11px">
                              <input type="number" name="inplimiteExcesoVelocidad" id="inplimiteExcesoVelocidad" value="40" class="form-control input-sm inputSmall" style="max-width: 50px; height: 30px">
                              <div class="input-group-append inputSmallSinPad">
                                <span class="input-group-text backgroundWhite fontSize13px">Km/H</span>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnCargarRecorrido">Cargar Recorrido</button>
                </div>
            </div>
        </div>    
    </div>

    <!--  ----------------------------------- -->


    <script src="../libs/jquery.js"></script>
    <script src="../libs/bootstrap.js"></script>
    <script src="../libs/jquery.easing.js"></script>
    <script src="../libs/sweetalert2.js"></script>

    <script src="../libs/jqx-all.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=geometry&key=AIzaSyBvrBF3dUzhRUxM4C3Zh_OMAms0-gigDOU"></script>
    <script src="../libs/markerwithlabel.js"></script>
    
    <script src="../js/scripts.js"></script>
    <script src="../js/functionsUtiles.js"></script>
    <script src="../js/views/mapa.js"></script>

  </body>

</html>
